.JobDetails .job-details-top{
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.JobDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #e6eefe;
    border-radius: 20px;

        padding-left: 35px;
        padding-right: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
        box-sizing: border-box;
        
    
    
}
.job-detail-head h2{
    margin-right: 20%;
}
.job-detail-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.job-company h6{
    margin: 0;
    font-size: 18px;
    color: #3376f7;
}
.job-company{
    width: 30%;
    flex-direction: column;
    
}


.job-detail-img img{
    width: 100%;
    object-fit: cover;
    } 
    .job-detail-img  h2{
        margin: 0;
    }
.job-detail-img{
    width: 30%;
    height: 40px;
     
   
}
.job-detail-bookmark  svg{
    font-size: 20px;
}
.job-detail-bookmark{
    width: 18px;
    height: 18px;
    background-color: #e6eefe;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
}
.job-detail-info .job-detail-row{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    
    
}
.job-detail-info .job-detail-row svg{
    font-size: 14px;
}
.job-detail-info .job-detail-row  p{
    margin: 0;
    font-size: 14px;
    color: gray;
    font-weight: 400;
    letter-spacing: 0.8px;
}
.job-detail-info{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.btn-apply{
    width: 13%;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #6692e9;
    background-color: #3376f7;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn-applied{
    width: 13%;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #6692e9;
    background-color: #ffffff;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
}
.job-apply{
    display: flex;
    justify-content: flex-end;
    
}
.job-details-bottom p{
    letter-spacing: 1px;
    color: gray;
    font-size: 15px;
    line-height: 23px;
}
.job-details-bottom{
    width: 100%;
    
}
.job-description p{
        margin: 0;
}

.job-skills-list{
    display: flex;
    gap: 10px;
}