.register  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.register  form h2{
    text-align: center;
    letter-spacing: 1px;
}
.register svg{
    position: absolute;
    font-size: 22px;
    color: gray;
    top: 10px;
    right: 0;
}
.register input{
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid gray;
    letter-spacing: 0.7px;
}
.register input:focus{
    /* border: none; */
    outline: none;
}
.confim-password,.register-password,.register-email,.first-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    
    
    
}
.register{
    border: 2px solid #ABB0BD;
    border-radius: 20px;
    padding: 10px 25px 20px 25px;
    box-sizing: border-box;
    width: 40%;
    margin: 0 auto;
    margin-top: 6%;
   
    
}
.register-btn{
    padding: 10px;
    background-color: #3376F7;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.8px;
}
.account{
    font-size: 13px;
    color: blue;
    font-weight: 600;
    cursor: pointer;
}
.error-msg{
    margin: 0;
    font-size: 14px;
    color: red;
    font-weight: 500;
}